%tr
  %td= dossier.code
  %td= dossier.date_deces
  %td= dossier.departement
  %td
    = link_to dossier, class: "btn btn-primary" do
      %i.icon-eye-open.icon-white
      Voir
  %td
    = link_to dossier_comments_path(dossier), class: "btn btn-info" do
      %i.icon-comment.icon-white
      Commentaires (#{dossier.comments.count})
