= simple_form_for dossier, :html => {class: 'form-horizontal'} do |f|
  = f.error_notification if f.error_notification

  .control-group.inline-inputs
    = f.label :code
    .controls
      = f.text_field :code
      = f.label :departement_id
      = f.collection_select :departement_id, Departement.all, :id, :cp_name
  = f.input :date_deces, input_html: {class: "dateITA", "data-value" => date_deces}

  .actions
    = f.button :submit, class: "btn-success", disable_with: "Enregistrer"
    = link_to "Revenir à la liste", dossiers_path, class: 'btn btn-danger'
