- title "Dossier ##{@dossier.code}"
%h2
  %span#comments_count= pluralize(@comments.count, "Commentaire")
  pour le dossier ##{@dossier.code}

#comments
  = render @comments if @comments.any?

%h2 Rajouter un commentaire
= form_for [@dossier, @dossier.comments.build], remote: true, html: {class: 'form-horizontal'} do |f|
  = f.hidden_field :user_id, value: current_user.id
  = f.text_area :body, class: "span8", rows: 2
  %br/
  = f.submit "Enregistrer", class: "btn-success", disable_with: "Enregistrer", name: nil
