- title t('devise.shared.forgot_password')
= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, class: "well form-inline" }) do |f|
  = devise_error_messages!
  = f.label :email
  = f.email_field :email
  = f.submit t("devise.passwords.send_reset_password_instructions"), class: "btn btn-primary"
= render "links"
