- title t("devise.shared.sign_in")
= form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {class: 'well form-inline'}) do |f|
  = f.text_field :email, placeholder: "Email"
  = f.password_field :password, placeholder: "Mot de passe"
  - if devise_mapping.rememberable?
    %label.checkbox
      = f.check_box :remember_me
      Se souvenir de moi ?
  = f.submit t("devise.shared.sign_in"), class: "btn btn-success", disable_with: t("devise.shared.sign_in")
= render "links"
