!!!
%html
  %head
    %title= yield(:title) || "ToxPortal"
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    :plain
      <!-- if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->

    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    = stylesheet_link_tag :application, :media => "all"
    = javascript_include_tag :application
    = csrf_meta_tags
    = yield(:head)

  %body{:class => params[:controller]}
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          = link_to "ToxPortal", root_path, class: "brand"
          - if user_signed_in?
            %ul.nav
              %li= link_to "Administration", administration_dashboard_path, target: "_blank"
              %li= link_to "Saisie", new_dossier_path
            %ul.nav.pull-right
              %li
                = link_to logout_path do
                  %span.label.label-important= t("devise.shared.sign_out")
    .container
      .content
        .page-header
          %h1#page_title
            = yield(:title) if show_title?
            = yield(:page_title)
          - flash && flash.each do |name, msg|
            .alert.fade.in{:class => "alert-#{name}"}
              %a.close{"data-dismiss" => "alert"} &times;
              %strong= msg
        = yield
    %footer
